<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @quest.content %>
</p>
<% @quest.answers.each do |answer| %>
  <tr>
    <td><%= answer.check %></td>
    <td><%= answer.text %></td>
  </tr>
<% end %>

<%= render 'answers/form' %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
