<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @quest.content %>
</p>
<%= render 'answers/form' %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
