<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @quest.content %>
</p>
<table>
	<% @quest.answers.each do |answer| %>
	  <tr>
	  	<% if answer.check %>
        <td><a href="#" onclick="alert('あたり')"><%= answer.text %></a></td>
      <% else %>
			  <td><a href="#" onclick="alert('はずれ')"><%= answer.text %></a></td>
		  <% end %>
	  </tr>
	<% end %>
</table>

<%= render 'answers/form' %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
