<h1>Listing blank_questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blank_questions.each do |blank_question| %>
      <tr>
        <td><%= blank_question.title %></td>
        <td><%= blank_question.content %></td>
        <td><%= link_to 'Show', blank_question %></td>
        <td><%= link_to 'Edit', edit_blank_question_path(blank_question) %></td>
        <td><%= link_to 'Destroy', blank_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blank question', new_blank_question_path %>
